.modal.fade.bd-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1", id: "modalVaccineEdit#{vaccine.id}"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4
          %b= t(".edit_vaccine")
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_with model: [:admin, vaccine], method: :patch do |f|
          -# .form-group
          -#   = f.label Vaccine.human_attribute_name(:code)
          -#   = f.text_field :code, class: "form-control"
          .form-group
            = f.label Vaccine.human_attribute_name(:name)
            = f.text_field :name, class: "form-control"
          .form-group
            = f.label Vaccine.human_attribute_name(:manufacture)
            = f.text_field :manufacture, class: "form-control"
          .form-group
            = f.label Vaccine.human_attribute_name(:content)
            = f.text_field :content, class: "form-control"
          .form-group
            = f.label Vaccine.human_attribute_name(:expiry_date)
            = f.date_field :expiry_date, class: "form-control"
          -# .form-group
          -#   = f.label Vaccine.human_attribute_name(:quantity)
          -#   = f.number_field :quantity, class: "form-control", min: 0
          = f.submit t(".submit"), class: "btn btn-primary"
