- vaccines.each do |vaccine|
  %tr.text-center{id: "vaccine#{vaccine.id}"}
    %td= link_to "#{vaccine.code}", admin_vaccine_path(vaccine)
    %td= vaccine.name
    %td= vaccine.manufacture
    %td= vaccine.content
    %td= l(vaccine.expiry_date, format: :date_month_year_concise)
    %td= vaccine.quantity
    %td
      = link_to edit_admin_vaccine_path(vaccine, format: 'js'), remote: true, class: "btn btn-primary" do
        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
      = link_to admin_vaccine_path(vaccine, format: 'js'),  method: :delete, data: { confirm: t(".are_you_sure", name: vaccine.name)}, remote: true, class: "btn btn-danger" do
        %i.fa.fa-trash{"aria-hidden" => "true"}
