- vaccines.each do |vaccine|
  %tr.text-center{id: "vaccine#{vaccine.id}"}
    %td= vaccine.code
    %td= vaccine.name
    %td= vaccine.manufacture
    %td= vaccine.content
    %td= l(vaccine.expiry_date, format: :date_month_year_concise)
    %td= vaccine.inventory
    %td
      = link_to edit_admin_vaccine_path(vaccine, format: 'js'), remote: true, class: "btn btn-success mr-3" do
        = t(".edit")
      = link_to admin_vaccine_path(vaccine, format: 'js'),  method: :delete, data: { confirm: t(".are_you_sure", name: vaccine.name)}, remote: true, class: "btn btn-warning" do
        = t(".destroy")
