.card
  .card-body.row
    %h4.col-12.card-title=  t("admin.sidebar.vaccine_management")
    .col-9
      %span
        = link_to t(".add_vaccine"), new_admin_vaccine_path, class: "btn btn-primary"
      %div
        %h4 Import data
        = form_tag import_admin_vaccines_path, multipart: true do
          = file_field_tag :file
          = submit_tag "Import"
    .col-3
      = form_tag admin_vaccines_path, method: :get do
        .input-group
          .input
            = text_field_tag :query, params[:query], class: "form-control", placeholder: t(".search")
          %span.input-group-btn
            = button_tag(type: "submit", class: "btn btn-primary") do
              %i.fa.fa-search{"aria-hidden" => "true"}
  .table-responsive
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th.text-center{:scope => "col"}= Vaccine.human_attribute_name("code")
          %th.text-center{:scope => "col"}= Vaccine.human_attribute_name("name")
          %th.text-center{:scope => "col"}= Vaccine.human_attribute_name("manufacture")
          %th.text-center{:scope => "col"}= Vaccine.human_attribute_name("content")
          %th.text-center{:scope => "col"}= Vaccine.human_attribute_name("expiry_date")
          %th.text-center{:scope => "col"}= Vaccine.human_attribute_name("inventory")
          %th.text-center
      %tbody#vaccines
        = render "admin/vaccines/vaccine", vaccines: @vaccines
    = paginate @vaccines, theme: "twitter-bootstrap-4"
