.container-fluid
  .row
    .col-xl-12.col-lg-12
      .card
        .card-header.py-3
          %h3.text-lg.m-0.font-weight-bold.text-uppercase.text-center
            = t("admin.vaccines.index.add_vaccine")
  %ol.breadcrumb.mb-4
    %li.breadcrumb-item
      = link_to admin_vaccines_path do
        = t("admin.vaccines.index.show_all")
    %li.breadcrumb-item.active= t("admin.vaccines.index.add_vaccine")
  .card.mb-4.shadow
    .card-body
      .row
        .col-12
          .table-responsive.px-2
            = form_with model: [:admin, @vaccine], local: true do |f|
              = render "admin/shared/error_messages", object: f.object
              = f.hidden_field :user_code, value: current_admin_admin.id
              .form-group
                = f.label Vaccine.human_attribute_name(:name), class: "required"
                = f.text_field :name, class: "form-control"
              .form-group
                = f.label Vaccine.human_attribute_name(:manufacture), class: "required"
                = f.text_field :manufacture, class: "form-control"
              .form-group
                = f.label Vaccine.human_attribute_name(:content), class: "required"
                = f.text_field :content, class: "form-control"
              .form-group
                = f.label Vaccine.human_attribute_name(:expiry_date), class: "required"
                = f.date_field :expiry_date, class: "form-control"
              .form-group
                = f.label Vaccine.human_attribute_name(:quantity), class: "required"
                = f.number_field :quantity, class: "form-control", min: 0
              .form-group
                = f.label Vaccine.human_attribute_name(:company_code), class: "required"
                = f.select :company_code, {}, {}, class: "form-control", id: "selectcompanies"
              = f.submit t(".submit"), class: "btn btn-primary"
