.container-fluid
  %h1.mt-4= t("admin.vaccines.show.vaccine")
  %ol.breadcrumb.mb-4
    %li.breadcrumb-item
      = link_to admin_vaccines_path do
        = t("admin.vaccines.index.show_all")
    %li.breadcrumb-item.active= t("admin.vaccines.show.vaccine")
  .card.mb-4
    .card-body
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:code)
        .col-8= @vaccine.code
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:name)
        .col-8= @vaccine.name
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:manufacture)
        .col-8= @vaccine.manufacture
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:content)
        .col-8= @vaccine.content
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:expiry_date)
        .col-8= l(@vaccine.expiry_date, format: :date_month_year_concise)
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:quantity)
        .col-8= @vaccine.quantity
      .row.mt-3
        .col-4=  Vaccine.human_attribute_name(:company_code)
        .col-8= @vaccine.company_code
      .row.mt-3
        .col-4=  Vaccine.human_attribute_name(:created_at)
        .col-8= @vaccine.created_at
      .row.mt-3
        .col-4=  Vaccine.human_attribute_name(:user_code)
        .col-8= @vaccine.user_code
