.container-fluid
  .row
    .col-xl-12.col-lg-12
      .card
        .card-header.py-3
          %h3.text-lg.m-0.font-weight-bold.text-uppercase.text-center
            = t(".vaccine", name: @vaccine.code)
  %ol.breadcrumb.mb-4
    %li.breadcrumb-item
      = link_to admin_vaccines_path do
        = t("admin.vaccines.index.show_all")
    %li.breadcrumb-item.active= t(".vaccine", name: @vaccine.code)
  .card.mb-4.shadow
    .card-body
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:code)
        .col-8= @vaccine.code
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:name)
        .col-8= @vaccine.name
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:manufacture)
        .col-8= @vaccine.manufacture
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:content)
        .col-8= @vaccine.content
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:expiry_date)
        .col-8= l(@vaccine.expiry_date, format: :date_month_year_concise)
      .row.mt-3
        .col-4= Vaccine.human_attribute_name(:quantity)
        .col-8= @vaccine.quantity
      .row.mt-3
        .col-4=  Vaccine.human_attribute_name(:company_code)
        .col-8= link_to @vaccine.company_code, admin_company_path(@vaccine.company.id)
      .row.mt-3
        .col-4=  Vaccine.human_attribute_name(:created_at)
        .col-8= l(@vaccine.created_at, format: :date_month_year_concise)
      .row.mt-3
        .col-4=  Vaccine.human_attribute_name(:user_code)
        .col-8= @vaccine.user_code
