.card
.card.mb-4
  .card-header
    .row
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th.text-center= DetailVaccinePackage.human_attribute_name(:vaccine_id)
            %th.text-center= DetailVaccinePackage.human_attribute_name(:total_injections)
            %th.text-center= Account.human_attribute_name(:user_code)
            -# %th
        %tbody
          - @detail_vaccince_packages.each do |detail_vaccine_package|
            %tr.text-center
              %td
                = detail_vaccine_package.vaccine.name
              %td
                = detail_vaccine_package.total_injections
              %td
                -# = link_to "#{detail_vaccine_package.user_code}", admin_account_path(Account.find_by(user_code: detail_vaccine_package.user_code)
                = link_to detail_vaccine_package.user_code, "#"
      -#         %td
      -#           = link_to edit_admin_details_info_path(detail_vaccine_package.details_info), class: "btn btn-primary mr-2" do
      -#             %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
      -#           = link_to admin_account_path(detail_vaccine_package), class: "btn btn-danger", method: :delete, data: { confirm: t("confirm.are_you_sure") } do
      -#             %i.fa.fa-trash{"aria-hidden" => "true"}
      -# = paginate @detail_vaccince_packages, theme: "twitter-bootstrap-4"
