.container-fluid
  %h1.mt-4= t(".import_data")
  %ol.breadcrumb.mb-4
    %li.breadcrumb-item
      = link_to admin_vaccine_package_type_detail_vaccine_packages_path(@vaccine_package_type.id) do
        = t("admin.detail_vaccine_packages.index.detail_vaccine_package")
    %li.breadcrumb-item.active= t(".import_data")
  .card.mb-4
    .card-body
      .row
        .col-12
          %h4= t(".import_data")
          = form_with model: nil, url: admin_vaccine_package_type_detail_vaccine_packages_path, multipart: true, local: true do |f|
            = f.file_field :file, required: true
            = f.submit t(".import")
