- info_injection_books.each do |info_injection_book|
  %tr
    %td
      = link_to "#{info_injection_book.account.user_code}", user_account_path(info_injection_book.account.id)
    %td
      = info_injection_book.guardian_name
    / %td
    /   = info_injection_book.father_name
    / %td
    /   = info_injection_book.mother_name
    %td
      = info_injection_book.number_phone
    %td
      = info_injection_book.email
    %td
      = link_to t(".detail"), user_account_path(info_injection_book.account), class: "btn btn-primary btn-sm"
      = link_to t(".edit"), edit_user_info_injection_book_path(info_injection_book), class: "btn btn-secondary btn-sm"
      / = link_to user_info_injection_book_path(info_injection_book), class: "btn btn-basic btn-sm", method: :delete, data: { confirm: t("confirm.are_you_sure") }
      - if info_injection_book.check_info
        %button.btn.btn-success.btn-sm= t(".checked")
      - else
        = link_to t(".unchecked"), user_info_injection_book_path(id: info_injection_book.id, check_info: true), method: :patch, remote: true, class: "btn btn-warning btn-sm", id: "unckecked-#{info_injection_book.id}"
