<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4 class="text-lg m-0 font-weight-bold text-primary text-uppercase text-center">
          <%= t(".edit_info_injection_books") %>
        </h4>
      </div>
      <%= nested_form_for [:user, @info_injection_book], class: "well form-horizontal" do |f| %>
        <%= render "shared/error_message", resource: @info_injection_book %>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <fieldset>
                <div class="form-group">
                  <div class="row ml-2">
                    <label class="col-md-4 text-left">
                      <%= t(".guardian_name") %>
                    </label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group">
                        <div class=" input-group-prepend">
                          <span class="btn btn-info">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <%= f.text_field :guardian_name, placeholder: t(".guardian_name"), class: "form-control bg-light border-1", require: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row ml-2">
                    <label class="col-md-4 text-left">
                      <%= t(".number_phone") %>
                    </label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group">
                        <div class=" input-group-prepend">
                          <span class="btn btn-info">
                            <i class="fas fa-phone-square"></i>
                          </span>
                        </div>
                        <%= f.text_field :number_phone, placeholder: t(".number_phone"), class: "form-control bg-light border-1", require: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row ml-2">
                    <label class="col-md-4 text-left">
                      <%= t(".father_name") %>
                    </label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group">
                        <div class=" input-group-prepend">
                          <span class="btn btn-info">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <%= f.text_field :father_name, placeholder: t(".full_name"), class: "form-control bg-light border-1" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row ml-2">
                    <label class="col-md-4 text-left">
                      <%= t(".identify_father") %>
                    </label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group">
                        <div class=" input-group-prepend">
                          <span class="btn btn-info">
                            <i class="fas fa-fingerprint"></i>
                          </span>
                        </div>
                        <%= f.text_field :identify_father, placeholder: t(".identify_father"), class: "form-control bg-light border-1" %>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-xl-6 col-lg-6">
              <fieldset>
                <div class="form-group">
                  <div class="row ml-2">
                    <label class="col-md-4 text-left">
                      <%= t(".identify_guardian") %>
                    </label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group">
                        <div class=" input-group-prepend">
                          <span class="btn btn-info">
                            <i class="fas fa-fingerprint"></i>
                          </span>
                        </div>
                        <%= f.text_field :identify_guardian, placeholder: t(".identify_guardian"), class: "form-control bg-light border-1", require: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row ml-2">
                    <label class="col-md-4 text-left">
                      <%= t(".email") %>
                    </label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group">
                        <div class=" input-group-prepend">
                          <span class="btn btn-info">
                            <i class="fas fa-envelope"></i>
                          </span>
                        </div>
                        <%= f.email_field :email, placeholder: t(".email"), class: "form-control bg-light border-1" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row ml-2">
                    <label class="col-md-4 text-left">
                      <%= t(".mother_name") %>
                    </label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group">
                        <div class=" input-group-prepend">
                          <span class="btn btn-info">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <%= f.text_field :mother_name, placeholder: t(".full_name"), class: "form-control bg-light border-1" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row ml-2">
                    <label class="col-md-4 text-left">
                      <%= t(".identify_mother") %>
                    </label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group">
                        <div class=" input-group-prepend">
                          <span class="btn btn-info">
                            <i class="fas fa-fingerprint"></i>
                          </span>
                        </div>
                        <%= f.text_field :identify_mother, placeholder: t(".identify_mother"), class: "form-control bg-light border-1" %>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-xl-12 col-lg-12 ml-4 text-primary"><%= t(".permanent_address") %>:</div>
            <%= f.fields_for :addresses, @info_injection_book.addresses.build do |addr| %>
              <div class="row ml-2">
                <div class="col-xl-4 col-lg-4">
                  <div class="form-group">
                    <div class="row ml-2">
                      <label class="col-md-12 text-left">
                        <%= t(".province") %>
                      </label>
                      <div class="col-md-12 inputGroupContainer">
                        <div class="input-group">
                          <%#= addr.text_field :province, placeholder: t(".province"), class: "form-control bg-light border-1" %>
                          <%= addr.select :province_id, {}, {}, class: "select_province1 form-control bg-light border-1", data: { placeholder: t(".select") } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                  <div class="form-group">
                    <div class="row ml-2">
                      <label class="col-md-12 text-left">
                        <%= t(".district") %>
                      </label>
                      <div class="col-md-12 inputGroupContainer">
                        <div class="input-group">
                          <%#= addr.text_field :district, placeholder: t(".district"), class: "form-control bg-light border-1" %>
                          <%= addr.select :district_id, {}, {}, class: "select_district1 form-control bg-light border-1", data: { placeholder: t(".select") } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                  <div class="form-group">
                    <div class="row ml-2">
                      <label class="col-md-12 text-left">
                        <%= t(".ward") %>
                      </label>
                      <div class="col-md-12 inputGroupContainer">
                        <div class="input-group">
                          <%#= addr.text_field :ward, placeholder: t(".ward"), class: "form-control bg-light border-1" %>
                          <%= addr.select :ward_id, {}, {}, class: "select_ward1 form-control bg-light border-1", data: { placeholder: t(".select") } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                  <div class="form-group">
                    <div class="row ml-2">
                      <label class="col-md-12 text-left">
                        <%= t(".permanent_address") %>
                      </label>
                      <div class="col-md-12 inputGroupContainer">
                        <div class="input-group">
                          <%#= addr.text_field :province, placeholder: t(".province"), class: "form-control bg-light border-1" %>
                          <%= addr.text_field :permanent_address, placeholder: @info_injection_book.addresses.first.permanent_address, class: "form-control bg-light border-1 small" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="col-xl-12 col-lg-12 ml-4 text-primary"><%= t(".current_address") %>: </div>
            <%= f.fields_for :addresses,  @info_injection_book.addresses.build do |addr| %>
              <div class="row ml-2">
                <div class="col-xl-4 col-lg-4">
                  <div class="form-group">
                    <div class="row ml-2">
                      <label class="col-md-12 text-left">
                        <%= t(".province") %>
                      </label>
                      <div class="col-md-12 inputGroupContainer">
                        <div class="input-group">
                          <%#= addr.text_field :province, placeholder: t(".province"), class: "form-control bg-light border-1" %>
                          <%= addr.select :province_id, {}, {}, class: "select_province2 form-control bg-light border-1", data: { placeholder: t(".select") } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                  <div class="form-group">
                    <div class="row ml-2">
                      <label class="col-md-12 text-left">
                        <%= t(".district") %>
                      </label>
                      <div class="col-md-12 inputGroupContainer">
                        <div class="input-group">
                          <%#= addr.text_field :district, placeholder: t(".district"), class: "form-control bg-light border-1" %>
                           <%= addr.select :district_id, {}, {}, class: "select_district2 form-control bg-light border-1", data: { placeholder: t(".select") } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                  <div class="form-group">
                    <div class="row ml-2">
                      <label class="col-md-12 text-left">
                        <%= t(".ward") %>
                      </label>
                      <div class="col-md-12 inputGroupContainer">
                        <div class="input-group">
                          <%#= addr.text_field :ward, placeholder: t(".ward"), class: "form-control bg-light border-1" %>
                          <%= addr.select :ward_id, {}, {}, class: "select_ward2 form-control bg-light border-1", data: { placeholder: t(".select") } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                  <div class="form-group">
                    <div class="row ml-2">
                      <label class="col-md-12 text-left">
                        <%= t(".current_address") %>
                      </label>
                      <div class="col-md-12 inputGroupContainer">
                        <div class="input-group">
                          <%#= addr.text_field :province, placeholder: t(".province"), class: "form-control bg-light border-1" %>
                          <%= addr.text_field :current_address, placeholder: @info_injection_book.addresses.last.current_address, class: "form-control bg-light border-1 small" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
          <%= link_to t(".button.cancel"), user_info_injection_books_path, class: "btn btn-secondary", data: { confirm: t(".confirm.are_you_sure") }%>
          <%= f.submit t(".button.submit"), class: "btn btn-primary d-flex justify-content-center", data: { confirm: t(".confirm.are_you_sure") } %>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>
