- accounts.each do |account|
  - if account.details_info.present?
    %tr
      %td
        = link_to "#{account.user_code}", admin_account_path(account)
      %td
        = account.details_info.first_name
      %td
        = account.details_info.email
      %td
        = account.details_info.number_phone
      %td
        = link_to edit_admin_details_info_path(account.details_info), class: "btn btn-basic btn-sm" do
          %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
        = link_to admin_account_path(account), class: "btn btn-basic btn-sm", method: :delete, data: { confirm: t("confirm.are_you_sure") } do
          %i.fa.fa-trash{"aria-hidden" => "true"}
