.card
  %h2.mt-4=  t("admin.sidebar.user_management")
  .card.my-4
    .card-header
      %i.fas.fa-search.mr-1
      = t(".search_title")
    .card-body
      = form_tag admin_accounts_path, method: :get do
        .row
          .col-sm-12
            .form-group
              = text_field_tag :query, params[:query], class: "form-control", placeholder: t(".search")
            = button_tag(type: "submit", class: "btn btn-primary") do
              %i.fa.fa-search{"aria-hidden" => "true"}
              = t(".search_title")
  .card.mb-4
    .card-header
      .row
        .col-md-6.pt-2
          %i.fas.fa-table.mr-1>
          = t(".account_list")
        .col-md-6.text-right
          = link_to new_admin_details_info_path, class: "btn btn-primary", type: :button do
            %i.fas.fa-user-plus
    .card-body
      .table-responsive
        %table.table.table-bordered.table-hover
          %thead
            %tr
              %th.text-center= Account.human_attribute_name("user_code")
              %th.text-center= DetailsInfo.human_attribute_name("first_name")
              %th.text-center= DetailsInfo.human_attribute_name("email")
              %th.text-center= DetailsInfo.human_attribute_name("number_phone")
              %th
          %tbody#accounts
            = render "admin/accounts/account", accounts: @accounts
        = paginate @accounts, theme: "twitter-bootstrap-4"
