<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <div class="row mt-2">
    <div class="col-md-3">
      <label><%= InfoInjectionBook.human_attribute_name("father_name") %></label>
    </div>
    <div class="col-md-9">
      <label><%= account.info_injection_book&.father_name %></label>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col-md-3">
      <label><%= InfoInjectionBook.human_attribute_name("identify_father") %></label>
    </div>
    <div class="col-md-9">
      <label><%= account.info_injection_book&.identify_father %></label>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col-md-3">
      <label><%= InfoInjectionBook.human_attribute_name("year_of_birth_father") %></label>
    </div>
    <div class="col-md-9">
      <label><%= account.info_injection_book&.year_of_birth_father %></label>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col-md-3">
      <label><%= InfoInjectionBook.human_attribute_name("mother_name") %></label>
    </div>
    <div class="col-md-9">
      <label><%= account.info_injection_book&.mother_name %></label>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col-md-3">
      <label><%= InfoInjectionBook.human_attribute_name("identify_mother") %></label>
    </div>
    <div class="col-md-9">
      <label><%= account.info_injection_book&.identify_mother %></label>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col-md-3">
      <label><%= InfoInjectionBook.human_attribute_name("year_of_birth_mother") %></label>
    </div>
    <div class="col-md-9">
      <label><%= account.info_injection_book&.year_of_birth_mother %></label>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col-md-3">
      <label><%= InfoInjectionBook.human_attribute_name("guardian_name") %></label>
    </div>
    <div class="col-md-9">
      <label><%= account.info_injection_book&.guardian_name %></label>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col-md-3">
      <label><%= InfoInjectionBook.human_attribute_name("identify_guardian") %></label>
    </div>
    <div class="col-md-9">
      <label><%= account.info_injection_book&.identify_guardian %></label>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col-md-3">
      <label><%= InfoInjectionBook.human_attribute_name("year_of_birth_guardian") %></label>
    </div>
    <div class="col-md-9">
      <label><%= account.info_injection_book&.year_of_birth_guardian %></label>
    </div>
  </div>
  <hr>
</div>