<div class="emp-profile" style="min-height: 740px">
  <form method="post">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-img">
          <%= image_tag "baby-2.jpeg", size: "180x180", class: "image" %>
          <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" class="image"/> -->
<!--           <div class="file btn-primary ml-4 ml-1">
            <%#= form_for [:user, @account], method: :patch, id: "avatar-form" do |f| %>
              <%#= f.fields_for :image_attributes do |image_f| %>
                <i class="far fa-edit"></i>
                <%#= image_f.file_field :image_link, class: "input-file previewIMG" %>
                <%#= image_f.hidden_field :imageable_id, value: @account.id %>
                <%#= image_f.hidden_field :imageable_type, value: "image" %>
                <%#= image_f.hidden_field :image_cache %>
              <%# end %>
            <%# end %>
          </div> -->
        </div>
        <% if @account.is_user? %>
          <div class="profile-work">
            <p><%= t(".injection_books") %></p>
            <% @account.info_injection_book.injection_books.each do |injection_book| %>
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        <%= link_to injection_book.name_person_injected, user_injection_book_path(injection_book) %> <br>
                        <%= InjectionBook.human_attribute_name("book_code")%>: <%= injection_book.book_code %>
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-md-8">
        <!-- <div class="profile-head"> -->
<!--           <h5>
            User Code: <%= @account.user_code %>
          </h5>
          <h5>
            Init Password: <%#= ENV["INIT_ACCOUNT_PASSWORD"] %>
          </h5> -->
<!--           <p class="proile-rating"><span></span></p>
        </div> -->
        <div class="card-header tab-card-header">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">Thông tin tài khoản</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Thông tin cá nhân</a>
            </li>
          </ul>
        </div>
        <div class="tab-content profile-tab ml-3 mt-3" id="myTabContent">
          <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
            <div class="row mt-3">
              <div class="col-md-3">
                <label><%= Account.human_attribute_name("user_code") %></label>
              </div>
              <div class="col-md-9">
                <label><%= @account.user_code %></label>
              </div>
            </div>
            <hr>
            <div class="row mt-3">
              <div class="col-md-3">
                <label><%= Account.human_attribute_name("password") %></label>
              </div>
              <div class="col-md-9">
                <label>*************</label>
              </div>
            </div>
            <hr>
            <div class="row mt-2">
              <div class="col-md-3">
                <label><%= InfoInjectionBook.human_attribute_name("number_phone") %></label>
              </div>
              <div class="col-md-9">
                <label><%= @account.info_injection_book&.number_phone %></label>
              </div>
            </div>
            <hr>
            <div class="row mt-2">
              <div class="col-md-3">
                <label><%= InfoInjectionBook.human_attribute_name("email") %></label>
              </div>
              <div class="col-md-9">
                <label><%= @account.info_injection_book&.email %></label>
              </div>
            </div>
            <hr>
          </div>
          <% if @account.is_user? %>
            <%= render "info_injection_book", account: @account %>
          <% else %>
            <%= render "details_info", account: @account %>
          <% end %>
        </div>
      </div>
      <div class="col-md-1">
        <%= link_to t(".edit_password"), "#" %>
      </div>
    </div>
  </form>
</div>
