- bills.each do |bill|
  %tr
    %td
      = bill.code
    %td
      = bill.injection_book.name_person_injected
    %td
      = bill.created_at.strftime("%d - %m - %Y, %H:%M ")
    %td
      = bill&.payment_time&.strftime("%d - %m - %Y, %H:%M  ")
    %td
      = number_to_currency(number_with_delimiter(bill&.total_money))
    %td
      = bill&.cashier&.details_info&.full_name
    %td
      = link_to t(".print_invoice"), user_export_bill_path(id: bill.id), remote: :true, class: "btn btn-secondary btn-sm", data: { confirm: t("confirm.are_you_sure") }
      = link_to t(".view"), user_bill_path(bill), class: "btn btn-primary btn-sm", data: { confirm: t("confirm.are_you_sure") }
