.row
  .col-xl-12.col-lg-12
    .card
      .card-header.py-3
        %h3.text-lg.m-0.font-weight-bold.text-uppercase.text-center
          =  t(".bill_management")
      .card.my-4
        .card-header
          %i.fas.fa-search.mr-1
          = t(".search_title")
        .card-body
          .row.col-xl-12.col-lg-12
            .col-lg-6
              = form_tag user_bills_path, method: :get, class: "navbar-search" do
                .row
                  .col-sm-12
                    .form-group
                      = text_field_tag :query, params[:query], class: "form-control input_search", placeholder: t(".search")
                    = button_tag(type: "button", class: "btn btn-secondary cancel_search") do
                      = t(".cancel_search")
                    = button_tag(type: "submit", class: "btn btn-primary") do
                      = t(".search_title")
            .col-lg-6.float-left
          %hr
      .card.mb-4
        .card-header
          .row
            .col-md-6.pt-2
              %i.fas.fa-table.mr-1
              = t(".bills")
            .col-md-6.text-right
        .card-body
          .table-responsive
            %table.table.table-bordered.table-hover
              %thead
                %tr
                  %th= Bill.human_attribute_name("code")
                  %th= Bill.human_attribute_name("injection_book_id")
                  %th= Bill.human_attribute_name("creation_time")
                  %th= Bill.human_attribute_name("payment_time")
                  %th= Bill.human_attribute_name("total_money")
                  %th= Bill.human_attribute_name("account_id")
                  %th= t("action")
              %tbody#info_injection_book
                = render "bill", bills: @bills
            = paginate @bills, theme: "twitter-bootstrap-4"
