.card
  .card-body.row
    %h4.col-12.card-title=  t("admin.sidebar.department_management")
    .col-9
      %span
        = link_to t(".add_department"), new_admin_department_path(format: "js"), remote: true, class: "btn btn-primary"
    .col-3
      = form_tag admin_departments_path, method: :get do
        .input-group
          .input
            = text_field_tag :query, params[:query], class: "form-control", placeholder: t(".search")
          %span.input-group-btn
            = button_tag(type: "submit", class: "btn btn-primary") do
              %i.fa.fa-search{"aria-hidden" => "true"}
  .table-responsive
    %table.table.table-bordered.table-hover
      %thead
        %tr.text-center
          %th{:scope => "col"}= Department.human_attribute_name("id")
          %th{:scope => "col"}= Department.human_attribute_name("name")
          %th{:scope => "col"}= Department.human_attribute_name("detail")
          %th
      %tbody#deparments
        = render 'admin/departments/department', departments: @departments
    = paginate @departments, theme: "twitter-bootstrap-4"
