<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="text-lg m-0 font-weight-bold text-primary text-uppercase text-center">
      <%= t(".list_injection_books") %>
    </h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class=" row col-xl-12 col-lg-12 mb-5 mr-3 ml-3">
        <div class="col-lg-6">
          <%= form_tag user_injection_books_path, method: :get, class: "navbar-search" do %>
            <div class="input-group">
              <%= text_field_tag :query, params[:query], class: "form-control bg-light border-0 small", placeholder: t(".search") %>
              <div class="input-group-append" >
                <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                  <i class="fas fa-search fa-sm"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-1 float-right">
          <%= link_to(new_user_info_injection_book_path, class: "btn btn-primary" ) do %>
            <i class="fas fa-user-plus"></i>
          <% end %>
        </div>
      </div>
      <% @injection_books.each do |injection_book| %>
        <div class="col-xl-6 col-md-6 mb-6 injection_book" id="<%= injection_book.id %>">
          <div class="card border-left-primary shadow h-100 py-1">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="m-0 font-weight-bold text-dark text-uppercase mb-2">
                    <b> <%= injection_book.name_person_injected %> </b>
                  </div>
                  <div class="small text-gray-700">
                    <%=  t(".date_of_birth") %>: <%= injection_book.date_of_birth.strftime("%d - %m - %Y ") %><br>
                    <%= t(".year_old") + ": " %> <%= age(injection_book.date_of_birth) %><br>
                    <%=  t(".gender") %>: <%= t("." + injection_book.gender) %><br>
                    <%=  t(".place_of_birth") %>: <%= injection_book.place_of_birth %><br>
                    <%#= link_to t(".injection_schedule"), "#", class: "h6 mb-0 font-italic text-green-500"%>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-book fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <%= paginate @injection_books, theme: "twitter-bootstrap-4" %>
    </div>
  </div>
</div>
