- companies.each do |company|
  %tr.text-center{id: "company#{company.id}"}
    %td{"data-link": "#{admin_company_path(company)}"}= company.company_code
    %td{"data-link": "#{admin_company_path(company)}"}= link_to company.name, admin_company_path(company)
    %td{"data-link": "#{admin_company_path(company)}"}= company.address
    %td
      = link_to edit_admin_company_path(company, format: 'js'), remote: true, class: "btn btn-primary mr-3" do
        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
      = link_to admin_company_path(company, format: 'js'),  method: :delete, data: { confirm: t(".are_you_sure", name: company.name)}, remote: true, class: "btn btn-danger mr-3" do
        %i.fa.fa-trash{"aria-hidden" => "true"}
      = link_to admin_company_orders_path(company), class: "btn btn-warning" do
        %i.fa.fa-shopping-cart{"aria-hidden" => "true"}
