.modal.fade.bd-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1", id: "modalCompanyEdit#{company.id}"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4
          %b= t(".edit_company")
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_with model: [:admin, @company], method: :patch do |f|
          .form-group
            = f.label InjectionBook.human_attribute_name("name_person_injected")
            = f.text_field :name_person_injected, class: "form-control"
          .form-group
            = f.label InjectionBook.human_attribute_name("date_of_birth")

            = f.text_field :date_of_birth, class: "form-control"
          .form-group
            = f.label InjectionBook.human_attribute_name("place_of_birth")
            = f.text_field :place_of_birth, class: "form-control"
          .form-group
            = f.label InjectionBook.human_attribute_name("gender")
            = f.text_field :gender, class: "form-control"
          = f.submit t(".submit"), class: "btn btn-primary"
