#modalCompany.modal.fade.bd-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4
          %b= t(".add_company")
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_with model: [:admin, @company] do |f|
          .form-group
            = f.label Company.human_attribute_name(:name)
            = f.text_field :name, class: "form-control"
          .form-group
            = f.label Company.human_attribute_name(:address)
            = f.text_field :address, class: "form-control"
          = f.submit t(".submit"), class: "btn btn-primary"
