.container-fluid
  .row
    .col-xl-12.col-lg-12
      .card
        .card-header.py-3
          %h3.text-lg.m-0.font-weight-bold.text-uppercase.text-center
            -# = t("admin.vaccines.index.add_vaccine")
            Phiếu nhập vaccine
  %ol.breadcrumb.mb-4
    %li.breadcrumb-item
      = link_to admin_vaccines_path do
        -# = t("admin.vaccines.index.show_all")
        Phiếu nhập vaccine
    -# %li.breadcrumb-item.active= t("admin.vaccines.index.add_vaccine")
  .card.mb-4.shadow
    .card-body
      .row
        .col-12
          .table-responsive.px-2
            = form_with model: [:admin, @company, @order], local: true do |f|
              %div
                = f.hidden_field :account_id, value: current_admin_admin.id
                = f.hidden_field :company_id, value: @company.id
              #detail_orders
                = f.fields_for :detail_orders do |detail_order|
                  = render "admin/orders/detail_order_fields", f: detail_order
                = link_to_add_association 'add answer', f, :detail_orders
              = f.submit "Tạo", class: "btn btn-primary"
