.row
  .col-xl-12.col-lg-12
    .card
      .card-header.py-3
        %h3.text-lg.m-0.font-weight-bold.text-uppercase.text-center
          = @order.code
      .card.mb-4
        .card-header
          .row
            .col-md-6.pt-2
              %i.fas.fa-table.mr-1>
              = t(".detail_order")
            .col-md-6.text-right
              = link_to admin_order_path(@order.id, request.parameters.merge(format: "csv")), class: "btn btn-primary export-csv-btn" do
                %i.fa.fa-download{"aria-hidden" => "true"}
                = t(".download")
        .card-body
          .table-responsive
            %table.table.table-bordered.table-hover
              %thead
                %tr
                  %th.text-center{:scope => "col"}= DetailOrder.human_attribute_name("id")
                  %th.text-center{:scope => "col"}= DetailOrder.human_attribute_name("vaccine")
                  %th.text-center{:scope => "col"}= DetailOrder.human_attribute_name("quantity")
              %tbody
                - @detail_orders.each do |detail_order|
                  %tr.text-center{id: "detail_order#{detail_order.id}"}
                    %td= detail_order.id
                    %td= detail_order.vaccine_id
                    %td= detail_order.quantity
            = paginate @detail_orders, theme: "twitter-bootstrap-4"
