#layoutSidenav_nav
  %nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
    .sb-sidenav-menu
      .nav
        .sb-sidenav-menu-heading CORE
        = link_to admin_root_path,class: "nav-link" do
          .sb-nav-link-icon
            %i.fas.fa-tachometer-alt
          = t("admin.layouts.dashboard")
        .sb-sidenav-menu-heading Interface
        %a.nav-link.collapsed{"aria-controls" => "collapseAccounts", "aria-expanded" => "false", "data-target" => "#collapseAccounts", "data-toggle" => "collapse", :href => "#"}
          .sb-nav-link-icon
            %i.fas.fa-hospital-user
          = t("admin.sidebar.account_management")
          .sb-sidenav-collapse-arrow
            %i.fas.fa-angle-down
        #collapseAccounts.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#sidenavAccordion"}
          %nav.sb-sidenav-menu-nested.nav
            = link_to admin_accounts_path, class: "nav-link" do
              .sb-nav-link-icon
                %i.fas.fa-arrow-circle-right
              = t("admin.accounts.index.show_all")
            = link_to new_admin_details_info_path, class: "nav-link" do
              .sb-nav-link-icon
                %i.fas.fa-plus-circle
              = t("admin.accounts.index.add_user")
        %a.nav-link.collapsed{"aria-controls" => "collapseUsers", "aria-expanded" => "false", "data-target" => "#collapseUsers", "data-toggle" => "collapse", :href => "#"}
          .sb-nav-link-icon
            %i.fas.fa-users
          = t("admin.sidebar.user_management")
          .sb-sidenav-collapse-arrow
            %i.fas.fa-angle-down
        #collapseUsers.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#sidenavAccordion"}
          %nav.sb-sidenav-menu-nested.nav
            = link_to admin_info_injection_books_path, class: "nav-link" do
              .sb-nav-link-icon
                %i.fas.fa-arrow-circle-right
              = t("admin.info_injection_books.index.show_all")
        %a.nav-link.collapsed{"aria-controls" => "collapseCompanies", "aria-expanded" => "false", "data-target" => "#collapseCompanies", "data-toggle" => "collapse", :href => "#"}
          .sb-nav-link-icon
            %i.fas.fa-building
          = t("admin.sidebar.company_management")
          .sb-sidenav-collapse-arrow
            %i.fas.fa-angle-down
        #collapseCompanies.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#sidenavAccordion"}
          %nav.sb-sidenav-menu-nested.nav
            = link_to admin_companies_path, class: "nav-link" do
              .sb-nav-link-icon
                %i.fas.fa-arrow-circle-right
              = t("admin.companies.index.show_all")
        %a.nav-link.collapsed{"aria-controls" => "collapseVaccines", "aria-expanded" => "false", "data-target" => "#collapseVaccines", "data-toggle" => "collapse", :href => "#"}
          .sb-nav-link-icon
            %i.fas.fa-bong
          = t("admin.sidebar.vaccine_management")
          .sb-sidenav-collapse-arrow
            %i.fas.fa-angle-down
        #collapseVaccines.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#sidenavAccordion"}
          %nav.sb-sidenav-menu-nested.nav
            = link_to admin_vaccines_path , class: "nav-link" do
              .sb-nav-link-icon
                %i.fas.fa-arrow-circle-right
              = t("admin.vaccines.index.show_all")
            = link_to new_admin_vaccine_path , class: "nav-link" do
              .sb-nav-link-icon
                %i.fas.fa-plus-circle
              = t("admin.vaccines.index.add_vaccine")
            = link_to new_admin_import_vaccine_path , class: "nav-link" do
              .sb-nav-link-icon
                %i.fas.fa-file-import
              = t("admin.import_vaccines.new.import_data")
        %a.nav-link.collapsed{"aria-controls" => "collapseVaccinePackageTypes", "aria-expanded" => "false", "data-target" => "#collapseVaccinePackageTypes", "data-toggle" => "collapse", :href => "#"}
          .sb-nav-link-icon
            %i.fas.fa-tags
          = t("admin.sidebar.vaccine_package_type_management")
          .sb-sidenav-collapse-arrow
            %i.fas.fa-angle-down
        #collapseVaccinePackageTypes.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#sidenavAccordion"}
          %nav.sb-sidenav-menu-nested.nav
            = link_to admin_vaccine_package_types_path , class: "nav-link" do
              .sb-nav-link-icon
                %i.fas.fa-arrow-circle-right
              = t("admin.vaccine_package_types.index.show_all")
        %a.nav-link.collapsed{"aria-controls" => "collapseDepartments", "aria-expanded" => "false", "data-target" => "#collapseDepartments", "data-toggle" => "collapse", :href => "#"}
          .sb-nav-link-icon
            %i.fas.fa-columns
          = t("admin.sidebar.department_management")
          .sb-sidenav-collapse-arrow
            %i.fas.fa-angle-down
        #collapseDepartments.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#sidenavAccordion"}
          %nav.sb-sidenav-menu-nested.nav
            = link_to admin_departments_path, class: "nav-link" do
              .sb-nav-link-icon
                %i.fas.fa-boxes
              = t("admin.departments.index.show_all")
        %li{ class: active_class(admin_bills_path)}
          = link_to admin_bills_path, class: "nav-link" do
            .sb-nav-link-icon
              %i.fas.fa-plus
            = t("admin.sidebar.bill_management")
        %a.nav-link.collapsed{"aria-controls" => "collapsePages", "aria-expanded" => "false", "data-target" => "#collapsePages", "data-toggle" => "collapse", :href => "#"}
          .sb-nav-link-icon
            %i.fas.fa-book-open
          Pages
          .sb-sidenav-collapse-arrow
            %i.fas.fa-angle-down
        #collapsePages.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#sidenavAccordion"}
          %nav#sidenavAccordionPages.sb-sidenav-menu-nested.nav.accordion
            %a.nav-link.collapsed{"aria-controls" => "pagesCollapseAuth", "aria-expanded" => "false", "data-target" => "#pagesCollapseAuth", "data-toggle" => "collapse", :href => "#"}
              Authentication
              .sb-sidenav-collapse-arrow
                %i.fas.fa-angle-down
            #pagesCollapseAuth.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#sidenavAccordionPages"}
              %nav.sb-sidenav-menu-nested.nav
                %a.nav-link{:href => "login.html"} Login
                %a.nav-link{:href => "register.html"} Register
                %a.nav-link{:href => "password.html"} Forgot Password
            %a.nav-link.collapsed{"aria-controls" => "pagesCollapseError", "aria-expanded" => "false", "data-target" => "#pagesCollapseError", "data-toggle" => "collapse", :href => "#"}
              Error
              .sb-sidenav-collapse-arrow
                %i.fas.fa-angle-down
            #pagesCollapseError.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#sidenavAccordionPages"}
              %nav.sb-sidenav-menu-nested.nav
                %a.nav-link{:href => "401.html"} 401 Page
                %a.nav-link{:href => "404.html"} 404 Page
                %a.nav-link{:href => "500.html"} 500 Page
        .sb-sidenav-menu-heading Addons
        %a.nav-link{:href => "charts.html"}
          .sb-nav-link-icon
            %i.fas.fa-chart-area
          Charts
        %a.nav-link{:href => "tables.html"}
          .sb-nav-link-icon
            %i.fas.fa-table
          Tables
    .sb-sidenav-footer
      .small= t("admin.sidebar.logged_as")
      = current_admin_admin.user_code
