!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Admin
    = stylesheet_link_tag "admin/application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "admin/application", "data-turbolinks-track": "reload"
    = csrf_meta_tags
  %body
    .preloader{:style => "display: none;"}
      .lds-ripple
        .lds-pos
        .lds-pos
    #main-wrapper{"data-sidebartype" => "full"}
      = render "layouts/admin/header"
      = render "layouts/admin/sidebar"
      .page-wrapper
        = yield
        = render "layouts/admin/footer"
