<div class="float-left">
  <%= link_to t('.info_previous_step'), "", data: {toggle: "modal", target:"#modal"} %>
</div>
<div class="float-right"><%= link_to t('.back'), url_for(:back) %></div>
<h6 class="text-lg m-0 font-weight-bold text-uppercase text-center">
  <b class="text-uppercase"><%= t(".info_injection") %></b>
</h6>
<hr>
<%= render "history_book", injection_book: detail_injection_book.injection_book %>
<%= form.hidden_field :time_after_injection, value: (Time.now + 30.minutes) %>
<%= form.fields_for :bill, @bill do |bill_attributes| %>
  <%= render "shared/error_message", resource: @bill %>
  <%= bill_attributes.hidden_field :doctor_id, value: current_user_account.id %>
  <%#= bill_attributes.hidden_field :nurse_id, value: current_user_account.id %>
  <div class="form-card" style="color: black">
    <div class="row ml-5">
      <div class="col-md-12 ml-5">
        <div class="form-group ml-5">
          <div class="row">
            <label class="col-md-3 text-left form-check-label">
              Tên bé:
            </label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <div class=" input-group-prepend">
                </div>
                <b id="idInjectionBook" data-index-number="<%= detail_injection_book.injection_book.id %>"><%= detail_injection_book.injection_book.name_person_injected %></b>
                <%= bill_attributes.hidden_field :injection_book_id, value: detail_injection_book.injection_book.id %>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group ml-5">
          <div class="row">
            <label class="col-md-3 text-left">
              Ngày tiêm:
            </label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <div class=" input-group-prepend">
                </div>
                <b><%= Time.now.strftime("%Hh:%Mm, Ngày %d - %m - %Y ") %></b>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group ml-5">
          <div class="row ">
            <label class="col-md-3 text-left">
              Hình thức tiêm
            </label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <label class="form-check-label">
                  <div class=" input-group-prepend">
                  </div>
                  <select class="form-control" id="TypeOfConstruction">
                    <option>Chọn</option>
                    <option>Tiêm lẻ</option>
                    <option>Tiêm gói</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 packageVaccine ml-5" style="display: none">
        <div class="form-group ml-5">
          <div class="row">
            <label class="col-md-3 text-left">
              Gói tiêm:
            </label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <select class="select_package_vaccines form-control bg-light border-1">
                  <option>Lựa chọn</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 vaccine ml-5" style="display: none">
        <div id="add_vaccine">
          <%= bill_attributes.nested_fields_for :detail_bills, DetailBill.new, wrapper: true  do |detail_bill_attributes| %>
            <%= detail_bill_attributes.remove_nested_fields_link do%><i class="fa fa-times ml-3" style="color:gray"></i><%end%>
            <%= detail_bill_attributes.hidden_field :account_id, value: current_user_account.id %>
            <div class="form-group ml-5">
              <div class="row">
                <label class="col-md-3 text-left">
                  Thuốc tiêm:
                </label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <%= detail_bill_attributes.select :vaccine_id, {}, {} , { class: "select_vaccines form-control bg-light border-1", data: { placeholder: t(".select_vaccines.placeholder") } }%>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group ml-5">
              <div class="row">
                <label class="col-md-3 text-left">
                  Số lượng:
                </label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <%= detail_bill_attributes.text_field :number_injection, class: "form-control bg-light border-1", value: "1", type: "number", min: "1", max: "10" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group ml-5">
              <div class="row">
                <label class="col-md-3 text-left">
                  Hẹn ngày tiêm tiếp theo:
                </label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <%= detail_bill_attributes.date_field :next_appointment, placeholder: t(".next_appointment"), class: "form-control bg-light border-1 small date" %>
                  </div>
                </div>
              </div>
            </div>
          <% end%>
          <p class="ml-3"><%= bill_attributes.add_nested_fields_link :detail_bills, t(".add_vaccine") %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="modal fade bs-example-modal-lg" id="modal" tabindex="-1" role="dialog">
  <%= render "info_step_1", detail_injection_book: @detail_injection_book %>
</div>
<div class="text-center mt-5">
  <%#= form.submit 'Hủy', class: "previous action-button-previous btn btn-danger", name: "save_draft", data: { confirm: t(".confirm.are_you_sure") } if @detail_injection_book.second_step? %>
  <%#= form.submit 'Quay lại', class: "previous action-button-previous btn btn-warning", name: "back_button" unless @detail_injection_book.second_step? || @detail_injection_book.last_step? %>
  <%= form.submit 'Tiếp theo', class: "btn btn-success", data: { confirm: t("confirm.are_you_sure") }  unless @detail_injection_book.last_step? || @detail_injection_book.cancel?  %>
</div>