<div class="container border border-secondary rounded">
  <div class="row mt-5">
    <div class="well col-xs-12 col-sm-12 col-md-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <address>
            <strong>Trung tâm tiêm chủng Quốc Tế</strong>
            <br>
            <%= vaccination_center.address %>
            <br>
            <abbr title="Phone">Liên hệ:</abbr> <%= vaccination_center.number_phone %>
          </address>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
          <p>
              <em>Thời gian: <%= Time.now.strftime("%Hh:%Mm, Ngày %d tháng %m năm %Y ") %></em>
          </p>
          <p>
              <em>Mã Hóa đơn #: <%= detail_injection_book.bill.code %></em>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
          <h1>Hóa đơn</h1>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 ">
          <div class="text-gray float-left ">
            <%= t(".name") + ": "%> <b class="text-uppercase"> <%= detail_injection_book.injection_book.name_person_injected %> </b><br>
            Địa chỉ: <%= detail_injection_book.injection_book.info_injection_book.current_address %><br>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 ">
          <div class="text-gray float-left ">
            <%= t(".date_of_birth") + ": " %> <%= detail_injection_book.injection_book.date_of_birth.strftime("%d/%m/%Y ") %><br>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 mb-3">
          <div class="text-gray float-left ">
            <%= t(".gender") %>: <%= t("." + detail_injection_book.injection_book.gender) %><br>
            Điện thoại: <%= detail_injection_book.injection_book.info_injection_book.number_phone %><br>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-5">Tên Vắc xin</th>
              <th>Liều lượng</th>
              <th>SL</th>
              <th>Hạn dùng</th>
              <th>Đơn giá</th>
              <th>Thành tiền</th>
            </tr>
          </thead>
          <tbody>
            <% detail_bill(detail_injection_book).each  do |detail_bill| %>
              <tr>
                <td><%= detail_bill.vaccine.name %></td>
                <td><%= detail_bill.vaccine.dosage %>/<%= detail_bill.vaccine.unit %></td>
                <td><%= detail_bill.number_injection %> </td>
                <td><%= detail_bill.vaccine.expiry_date.strftime("%d/%m/%Y ") %> </td>
                <td><%= number_with_delimiter(detail_bill.vaccine.saleprice) %></td>
                <td><%= number_with_delimiter((detail_bill.number_injection)*(detail_bill.vaccine.saleprice.to_i*1000)) %></td>
              </tr>
            <% end %>
            <tr>
              <td>
                <p>
                    <strong>Tổng:&nbsp;</strong>
                </p>
                <p>
                    <strong>Thuế:&nbsp;</strong>
                </p>
              </td>
              <td> &nbsp; </td>
              <td class="text-center"> <p><%= number_injections detail_injection_book %></p><p></p> </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="text-center">
              <p>
                  <strong><%= amount detail_injection_book %></strong>
              </p>
              <p>
                  <strong>0</strong>
              </p></td>
            </tr>
            <tr>
              <td class="text-right"><h4><strong>Tổng tiền thanh toán:&nbsp;</strong></h4></td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td class="text-center text-danger"><h4><strong><%= total_price detail_injection_book %></strong></h4></td>
            </tr>
          </tbody>
        </table>
        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
          <%= link_to 'In hóa đơn', "#" %>
        </div>
      </div>
    </div>
  </div>
</div>
