<div class="float-left">
  <%= link_to t('.info_previous_step'), "", data: {toggle: "modal", target:"#modal"} %>
</div>
<div class="float-right"><%= link_to t('.back'), url_for(:back) %></div>
<h6 class="text-lg m-0 font-weight-bold text-uppercase text-center">
  <b class="text-uppercase">THÔNG TIN CHI TIẾT TIÊM CHỦNG</b>
</h6>
<hr>
<%= form.fields_for :bill, Bill.new do |bill_attributes| %>
  <%= bill_attributes.fields_for :detail_bills, DetailBill.new do |detail_bill_attributes| %>
    <div class="form-card" style="color: black">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="form-group">
            <div class="row">
              <label class="col-md-4 text-left form-check-label">
                Tên bé:
              </label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <div class=" input-group-prepend">
                  </div>
                  <b><%= detail_injection_book.injection_book.name_person_injected %></b>
                  <%= bill_attributes.hidden_field :injection_book_id, value: detail_injection_book.injection_book.id %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-md-4 text-left">
                Thuốc tiêm:
              </label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
<!--                   <div class=" input-group-prepend">
                    <span class="btn btn-info">
                      <i class="fas fa-user"></i>
                    </span>
                  </div> -->
                  <%= detail_bill_attributes.select :vaccine_id, {}, {} , { class: "select_vaccines form-control bg-light border-1", data: { placeholder: t(".select_vaccines.placeholder") } }%>
                  <%#= detail_bill_attributes.select :vaccine_id, options_for_select(Vaccine.all.pluck(:name, :id)), class: "form-control bg-light border"%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="form-group">
            <div class="row">
              <label class="col-md-4 text-left">
                Thời gian:
              </label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <div class=" input-group-prepend">
                  </div>
                  <b><%= Time.now.strftime("%d - %m - %Y ") %></b>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-md-4 text-left">
                Gói tiêm:
              </label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
<!--                   <div class=" input-group-prepend">
                    <span class="btn btn-info">
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div> -->
                  <%= detail_bill_attributes.select :vaccine_package_type_id, options_for_select(VaccinePackageType.all.pluck(:name, :id)), class: "form-control bg-light border-1" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="form-group">
            <div class="row">
              <label class="col-md-4 text-left">
                Số lượng:
              </label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
<!--                   <div class=" input-group-prepend">
                    <span class="btn btn-info">
                      <i class="fas fa-phone-square"></i>
                    </span>
                  </div> -->
                  <%= detail_bill_attributes.text_field :number_injection, class: "form-control bg-light border-1", value: "1", type: "number", min: "1", max: "10" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="modal fade bs-example-modal-lg" id="modal" tabindex="-1" role="dialog">
  <%= render "info_step_1", detail_injection_book: @detail_injection_book %>
</div>
