<div class="card shadow mb-4" style="z-index: 0;">
  <div class="card-header py-3">
    <div class="px-0 pt-4 pb-0 mt-3 mb-3">
      <h2 class="text-center"><strong>Quy trình tiêm</strong></h2>
      <p class="text-center">Điền thông tin theo các bước</p>
      <div class="row">
        <div class="col-md-12 mx-0">
          <%= form_for [:user, @detail_injection_book], url: user_detail_injection_book_path(@detail_injection_book), method: :patch, local: true, id: "msform" do |form| %>
            <%= render "shared/error_message", resource: @detail_injection_book %>
            <fieldset class="text-center">
              <ul id="progressbar">
                <li class="active" id="account"><strong>Khám trước tiêm</strong></li>
                <li class="<%= set_active_for_step @detail_injection_book.current_step, 'step_2' %>" id="personal"><strong>Tiêm</strong></li>
                <li class="<%= set_active_for_step @detail_injection_book.current_step, 'step_3' %>" id="payment"><strong>Thanh toán hóa đơn</strong></li>
                <li class="<%= set_active_for_step @detail_injection_book.current_step, 'step_4' %>" id="personal"><strong>Phản ứng sau tiêm</strong></li>
                <li class="<%= set_active_for_step @detail_injection_book.current_step, 'step_5' %>" id="confirm"><strong>Kết thúc</strong></li>
              </ul>
            </fieldset>
              <%= render "#{params[:steps] || @detail_injection_book.current_step}", form: form, detail_injection_book: @detail_injection_book %>
              <%= form.hidden_field :id, value: @detail_injection_book.id %>
              <div class="text-center mt-5">
                <%= form.submit 'Hủy', class: "previous action-button-previous btn btn-danger", name: "save_draft" unless @detail_injection_book.last_step? %>
                <%= form.submit 'Quay lại', class: "previous action-button-previous btn btn-warning", name: "back_button" unless @detail_injection_book.first_step? %>
                <%= form.submit 'Tiếp theo', class: "next action-button btn btn-success" unless @detail_injection_book.last_step? %>
              </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
