.card
  %h2.mt-4= t("admin.sidebar.vaccine_package_type_management")
  .card.my-4
    .card-header
      %i.fas.fa-search.mr-1
      = t(".search_title")
    .card-body
      = form_tag admin_vaccine_package_types_path, method: :get do
        .row
          .col-sm-12
            .form-group
              = text_field_tag :query, params[:query], class: "form-control", placeholder: t(".search")
            = button_tag(type: "submit", class: "btn btn-primary") do
              %i.fa.fa-search{"aria-hidden" => "true"}
              = t(".search_title")
  .card.mb-4
    .card-header
      .row
        .col-md-6.pt-2
          %i.fas.fa-table.mr-1>
          = t(".vaccine_package_type_list")
        .col-md-6.text-right
          = link_to new_admin_vaccine_package_type_path(format: :js), remote: true, class: "btn btn-primary" do
            %i.fas.fa-plus-square
    .card-body
      .table-responsive
        %table.table.table-bordered.table-hover
          %thead
            %tr.text-center
              %th{:scope => "col"}= VaccinePackageType.human_attribute_name(:id)
              %th{:scope => "col"}= VaccinePackageType.human_attribute_name(:name)
              %th{:scope => "col"}= VaccinePackageType.human_attribute_name(:created_at)
              %th
          %tbody#vaccine_package_types
            = render partial: "vaccine_package_type", collection: @vaccine_package_types
        = paginate @vaccine_package_types, theme: "twitter-bootstrap-4"
