%main
  .container-fluid
    .row
      .col-xl-12.col-lg-12
        .card
          .card-header.py-3
            %h3.text-lg.m-0.font-weight-bold.text-uppercase.text-center
              = t("admin.layouts.dashboard")
    %ol.breadcrumb.mb-4
      %li.breadcrumb-item.active= t("admin.layouts.dashboard")
    .row
      .col-xl-3.col-md-6
        .card.bg-primary.text-white.mb-4
          .card-body Primary Card
          .card-footer.d-flex.align-items-center.justify-content-between
            %a.small.text-white.stretched-link{:href => "#"} View Details
            .small.text-white
              %i.fas.fa-angle-right
      .col-xl-3.col-md-6
        .card.bg-warning.text-white.mb-4
          .card-body Warning Card
          .card-footer.d-flex.align-items-center.justify-content-between
            %a.small.text-white.stretched-link{:href => "#"} View Details
            .small.text-white
              %i.fas.fa-angle-right
      .col-xl-3.col-md-6
        .card.bg-success.text-white.mb-4
          .card-body Success Card
          .card-footer.d-flex.align-items-center.justify-content-between
            %a.small.text-white.stretched-link{:href => "#"} View Details
            .small.text-white
              %i.fas.fa-angle-right
      .col-xl-3.col-md-6
        .card.bg-danger.text-white.mb-4
          .card-body Danger Card
          .card-footer.d-flex.align-items-center.justify-content-between
            %a.small.text-white.stretched-link{:href => "#"} View Details
            .small.text-white
              %i.fas.fa-angle-right
    .row
      .col-xl-6
        .card.mb-4
          .card-header
            %i.fas.fa-chart-area.mr-1>
            = t("admin.charts.injection_book")
          .card-body
            #statistic-body
              .container-fluid
                = render "admin/charts/injection_book", injection_books: @injection_books
      .col-xl-6
        .card.mb-4
          .card-header
            %i.fas.fa-chart-area.mr-1>
            = t("admin.charts.vaccine")
          .card-body
            #statistic-body
              .container-fluid
                = render "admin/charts/vaccine", vaccines: @vaccines
    .card.mb-4
      .card-header
        %i.fas.fa-table.mr-1>
        = t("admin.charts.detail_bill")
      .row
        .col-xl-12
          .card-body
            #statistic-body
              .container-fluid
                -# = render "admin/charts/detail_bill", detail_bills: @detail_bills
                = line_chart @detail_bills
