%main
  .container-fluid
    .row
      .col-xl-12.col-lg-12
        .card
          .card-header.py-3
            %h3.text-lg.m-0.font-weight-bold.text-uppercase.text-center
              = t("admin.layouts.dashboard")
          .card.m-1.p-2
            .d-flex.justify-content-between.align-items-center
              %div
                %i.fas.fa-search.mr-1
                = t(".filter_by")
              %div
                = link_to "Ngày", admin_root_path, class: "btn btn-primary", remote: true, method: :get
                = link_to "Tuần", admin_root_path(type: "week"), class: "btn btn-primary", remote: true, method: :get
                = link_to "Tháng",admin_root_path(type: "month"), class: "btn btn-primary", remote: true, method: :get
                = link_to "Năm",admin_root_path(type: "year"), class: "btn btn-primary", remote: true, method: :get
    .row
      .col-xl-6
        .card.mb-4
          .card-header
            %i.fas.fa-chart-area.mr-1>
            = t("admin.charts.injection_book")
          .card-body
            #statistic-body
              .container-fluid
                #injection_books
                  = render "admin/charts/injection_book", injection_books: @injection_books
      .col-xl-6
        .card.mb-4
          .card-header
            %i.fas.fa-chart-area.mr-1>
            = t("admin.charts.vaccine")
          .card-body
            #statistic-body
              .container-fluid
                #vaccines
                  = render "admin/charts/vaccine", vaccines: @vaccines
    .card.mb-4
      .card-header
        %i.fas.fa-table.mr-1>
        = t("admin.charts.bill")
      .row
        .col-xl-12
          .card-body
            #statistic-body
              .container-fluid
                #detail_bills
                  = render "admin/charts/detail_bill", detail_bills: @detail_bills
