<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">
      <%= t(".vacinnation_center") %>
    </div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span><%= t(".dashboard") %></span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    <%= t(".account_management") %>
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <i class="fas fa-fw fa-book"></i>
      <span><%= t(".info_account") %></span>
    </a>
    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header"><%= t(".account_parents") %></h6>
        <%= link_to t(".new_account"), new_user_info_injection_book_path, class: "collapse-item" %>
        <%= link_to t(".list_account"), user_info_injection_books_path, class: "collapse-item" %>
      </div>
    </div>
<!--     <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header"><%#= t("view.layouts.user.sidebar.account_staff") %></h6>
        <%#= link_to t("view.layouts.user.sidebar.new_account"), new_user_details_info_path, class: "collapse-item" %>
      </div>
    </div> -->
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    <%= t(".administer_injection_procedure") %>
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-book"></i>
      <span><%= t(".injection_book") %></span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header"><%= t(".administer_injection_book") %></h6>
        <%= link_to t(".list_injection_book"), user_injection_books_path, class: "collapse-item" %>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>
        <%= t(".injection_schedule") %>
      </span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header"><%= t(".administer_schedule") %></h6>
        <%= link_to t(".new_injection_schedule"), new_user_injection_schedule_path, class: "collapse-item" %>
        <a class="collapse-item" href="#">
          <%= t(".list_injection_schedule") %>
        </a>
      </div>
    </div>
  </li>
  <li class="nav-item">
     <%= link_to user_injection_schedules_path, class: "nav-link collapsed" do %>
        <i class="fas fa-fw fa-clock"></i>
        <span>
          <%= t(".injection_schedules") %>
        </span>
     <% end %>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    <%= t(".information_manage") %>
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>
        <%= t(".my_information") %>
      </span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">
          <%= t(".information_manage")%>
        </h6>
        <%= link_to t(".view_profile"), user_account_path(current_user_account), class: "collapse-item" %>
        <a class="collapse-item" href="#">
          <%= t(".update_profile")%>
        </a>
        <%= button_to destroy_user_account_session_path, method: :delete, class: "dropdown-item" do %>
          <%= t(".logout") %>
        <% end %>
        <a class="collapse-item" href="#">
          <%= t(".forgot_password")%>
        </a>
        <div class="collapse-divider"></div>
      </div>
    </div>
  </li>
  <hr class="sidebar-divider d-none d-md-block">
<!--   <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div> -->
</ul>
