<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 about">
        <h2>Thông tin về chúng tôi</h2>
        <p>Phasellus scelerisque ornare nisl sit amet pulvinar. Nunc non scelerisque augue. Proin et sollicitudin velit. </p>
        <div class="foot-address">
          <div class="icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="addet">
            BlueDart
            Marthandam (K.K District)
            Tamil Nadu, IND
          </div>
        </div>
        <div class="foot-address">
          <div class="icon">
            <i class="far fa-envelope-open"></i>
          </div>
          <div class="addet">
            info@smarteyeapps.com <br>
            sales@smarteyeapps.com
          </div>
        </div>
        <div class="foot-address">
          <div class="icon">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <div class="addet">
            +23 323 43434 <br>
            +1 3232 434 55
          </div>
        </div>
      </div>
      <div class="col-md-3 fotblog">
        <h2>From latest Blog</h2>
        <div class="blohjb">
          <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>
          <span>22-1-2019</span>
        </div>
        <div class="blohjb">
          <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>
          <span>22-1-2019</span>
        </div>
        <div class="blohjb">
          <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>
          <span>22-1-2019</span>
        </div>
      </div>
      <div class="col-md-3 glink">
        <ul>
          <li><a href="index.html"><i class="fas fa-angle-double-right"></i><%= t("view.layouts.footer.home") %></a></li>
          <li><a href="about_us.html"><i class="fas fa-angle-double-right"></i><%= t("view.layouts.footer.about") %></a></li>
          <li><a href="services.html"><i class="fas fa-angle-double-right"></i><%= t("view.layouts.footer.service") %></a></li>
          <li><a href="blog.html"><i class="fas fa-angle-double-right"></i><%= t("view.layouts.footer.doctor") %></a></li>
          <li><a href="pricing.html"><i class="fas fa-angle-double-right"></i><%= t("view.layouts.footer.contact") %></a></li>
          <li><a href="contact_us.html"><i class="fas fa-angle-double-right"></i><%= t("view.layouts.footer.book_calendar") %></a></li>
        </ul>
      </div>
      <div class="col-md-3 tags">
          <h2>Easy Tags</h2>
          <ul>
              <li>Finance</li>
              <li>Web Design</li>
              <li>Internet Pro</li>
              <li>Node Js</li>
              <li>Java Swing</li>
              <li>Angular Js</li>
              <li>Vue Js</li>
          </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copy">
  <div class="container">
    <a href="https://www.facebook.com/thaophuong28091997">2020 &copy; by Phương Thảo</a>
    <span>
      <a><i class="fab fa-github-square"></i></a>
      <a><i class="fab fa-google-plus-g"></i></a>
      <a><i class="fab fa-pinterest-p"></i></a>
      <a><i class="fab fa-twitter"></i></a>
      <a><i class="fab fa-facebook-f"></i></a>
    </span>
  </div>
</div>
