<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 about">
        <h2><%= t(".about_us") %></h2>
        <p><%= t(".time_active") %></p>
        <div class="foot-address">
          <div class="icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="addet">
            BlueDart
            Marthandam (K.K District)
            Tamil Nadu, IND
          </div>
        </div>
        <div class="foot-address">
          <div class="icon">
            <i class="far fa-envelope-open"></i>
          </div>
          <div class="addet">
            vaccination.center@gmail.com <br>
            trung.tam.CSKH@gmail.com
          </div>
        </div>
        <div class="foot-address">
          <div class="icon">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <div class="addet">
            +23 323 43434 <br>
            +1 3232 434 55
          </div>
        </div>
      </div>
      <div class="col-md-3 fotblog">
        <h2><%= t(".service") %></h2>
        <div class="blohjb">
          <p>CS1</p>
          <span>Hà Nội</span>
        </div>
        <div class="blohjb">
          <p>CS2</p>
          <span>Hồ Chí Minh</span>
        </div>
        <div class="blohjb">
          <p>CS3</p>
          <spanĐà Nẵng</span>
        </div>
      </div>
      <div class="col-md-3 glink">
        <ul>
          <li><a href="index.html"><i class="fas fa-angle-double-right"></i><%= t(".home") %></a></li>
          <li><a href="about_us.html"><i class="fas fa-angle-double-right"></i><%= t(".about") %></a></li>
          <li><a href="services.html"><i class="fas fa-angle-double-right"></i><%= t(".service") %></a></li>
          <li><a href="blog.html"><i class="fas fa-angle-double-right"></i><%= t(".injection_schedule") %></a></li>
          <li><a href="pricing.html"><i class="fas fa-angle-double-right"></i><%= t(".contact") %></a></li>
          <li><a href="contact_us.html"><i class="fas fa-angle-double-right"></i><%= t(".book_calendar") %></a></li>
        </ul>
      </div>
      <div class="col-md-3 tags">
        <h2><%= t(".list_center") %></h2>
        <ul>
          <li>HÀ NỘI</li>
          <li>TP. HỒ CHÍ MINH</li>
          <li>ĐỒNG NAI</li>
          <li>BÌNH DƯƠNG</li>
          <li>VINH</li>
          <li>ĐÀ NẴNG</li>
          <li>QUẢNG NINH</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copy">
  <div class="container">
    <a href="https://www.facebook.com/thaophuong28091997">2020 &copy; by Phương Thảo</a>
    <span>
      <a><i class="fab fa-github-square"></i></a>
      <a><i class="fab fa-google-plus-g"></i></a>
      <a><i class="fab fa-pinterest-p"></i></a>
      <a><i class="fab fa-twitter"></i></a>
      <a><i class="fab fa-facebook-f"></i></a>
    </span>
  </div>
</div>
