<header class="continer-fluid ">
  <div  class="header-top">
    <div class="container">
      <div class="row col-det">
        <div class="col-lg-6 d-none d-lg-block">
          <ul class="ulleft">
            <li>
              <i class="far fa-envelope"></i>
              sales@smarteyeapps.com
              <span>|</span></li>
            <li>
              <i class="fas fa-phone-volume"></i>
              +876 987 666 5433</li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-12">
          <ul class="ulright">
            <li>
              <i class="fab fa-facebook-square"></i>
            </li>
            <li>
              <i class="fab fa-twitter-square"></i>
            </li>
            <li>
              <i class="fab fa-instagram"></i>
            </li>
            <li>
              <i class="fab fa-linkedin"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="menu-jk" class="header-bottom">
    <div class="row nav-row">
      <div class="col-lg-3 col-md-12 logo">
        <a href="#">
          <%= image_tag "custom_logo.png" %>
        </a>
      </div>
      <div class="col-lg-9 col-md-12 nav-col">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <%= link_to t(".home"), root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t(".about"), about_path, method: :get, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <%= t(".service") %>
                </a>
              </li>

              <li class="nav-item">
                <%= link_to t(".injection_schedule"), injection_schedules_path, method: :get, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to t(".vaccine_price"), vaccine_price_path, method: :get, class: "nav-link"%>
              </li>
            </ul>
            <%= link_to t(".book_calendar"), new_info_injection_book_path(format: "js"), remote: true, class: "nav-btn btn btn-success" %>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
